<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>

	<body>
		<!-- Header -->
		<% if (locals.user != undefined) { %>
			<%- include('./partials/headerLogueado') %>
		 <% } else { %>
			<%- include('./partials/header') %>
		<% } %>
		<!-- /Header -->

			<!-- Novedades -->
			<div class="container products-wrapper">
				<div class="row">
					<div class="col-12">
						<h2 class="products-title">Agregar productos:</h2>
					</div>
					<!-- Show the "ultimos" products -->
					<h2 class="col-12">
						<form action="/product/productAdd" method="post">
							<div>
								<input id="imagen" type="text" name="fotoProducto"  placeholder="Imagen">
							</div>
							<br>
							<div>
								<input id="nombre" type="text" name="nombre" placeholder="Nombre del producto">
							</div>
							<br>
							<div>
								<input id="descripción" type="text" name="descripción"  placeholder="Descripción del producto">
							</div>
							<br>
							<div>
								<input type="hidden" name="idUsuario" value="<%= usuario.id %>">
							</div>
							<div>
								<button type="submit">Enviar</button>
							</div>
						</form>
					</h2>

					<!-- footer -->
					<%- include('./partials/footer') %>
					<!-- /footer -->
	</body>

</html>