<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>

	<body>
		<!-- Header -->
		<%- include('./partials/header') %>
		<!-- /Header -->

			<!-- product detail -->
			<div class="container products-wrapper">
				<div class="d-flex align-items-center">
					<h2 class="products-title">
						<%= producto.nombre %>
					</h2>
					<p class="product-detail-description">
						<a href="/product/product-add">Editar</a>
					</p>
				</div>
				<div class="product-detail">
					<div class="row">
						<article class="col-12 col-lg-8 product-detail-info">
							<img src="<%= producto.fotoProducto %>" alt="" class="product-detail-img">
							<p class="product-detail-description">
								<%= producto.descripcion %>
							</p>
						</article>
						<div class="col-12 col-lg-4">
							<section class="comments">
								<% for( let i=0; i < 3; i++ ) { %>
									<article>
										<img src="<%= producto.comentarios[i].imagenPerfil %>" alt=""> 
										<div class="data">
											<p class="user">
												<strong> <a href="/users/profile"></a>
													<%= producto.comentarios[i].nombreUsuario %>
												</strong>
												<%= producto.comentarios[i].texto %>
											</p>
										</div>
									</article>
									<% } %>
							</section>
							<form class="form" action="/product" method="get">
								<input class="agregar comentario" type="text" value="" placeholder="Agregar comentario">
								<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
							</form>
							<hr>
						</div>
					</div>
				</div>
			</div>
			<!-- /product detail -->

			<!-- footer -->
			<%- include('./partials/footer') %>
			<!-- /footer -->

	</body>

</html>