<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>

	<body>
		<!-- Header -->
		<% if (locals.user != undefined) { %>
			<%- include('./partials/headerLogueado') %>
		 <% } else { %>
			<%- include('./partials/header') %>
		<% } %>
		<!-- /Header -->

			<!-- Novedades -->
			<div class="container products-wrapper">
				<div class="row">
					<div class="col-12">
						<h2 class="products-title">Agregar productos:</h2>
					</div>
					<!-- Show the "ultimos" products -->
					<h2 class="col-12">
						<form action="/product/productAdd" method="post">
							<div>
								<input id="fotoProducto" type="text" name="fotoProducto"  placeholder="Imagen" >
								<% if (locals.errors && errors.fotoProducto) { %>
									<p class = "error" > <%= errors.fotoProducto.msg %> </p>
								<% } %>	
							</div>
							<br>
							<div>
								<input id="nombre" type="text" name="nombre" placeholder="Nombre del producto">
								<% if (locals.errors && errors.nombre) { %>
									<p class = "error" > <%= errors.nombre.msg %> </p>
								<% } %>	
							</div>
							<br>
							<div>
								<input id="descripción" type="text" name="descripcion"  placeholder="Descripción del producto">
								<% if (locals.errors && errors.descripcion) { %>
									<p class = "error" > <%= errors.descripcion.msg %> </p>
								<% } %>	
							</div>
							<br>
							<div>
								<input type="hidden" name="idUsuario" value="<%= usuario.id %>"> 
							</div>
							<div>
								<button type="submit">Enviar</button>
							</div>
						</form>
					</h2>

					<!-- footer -->
					<%- include('./partials/footer') %>
					<!-- /footer -->
	</body>

</html>