<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>

	<body>
		<!-- Header -->
		<% if (locals.users != undefined) { %>
			<%- include('./partials/headerLogueado') %>
		 <% } else { %>
			<%- include('./partials/header') %>
		<% } %>
		<!-- /Header -->

			<!-- Novedades -->
			<div class="container products-wrapper">
				<div class="row">
					<div class="col-12">
						<h2 class="products-title">Editar producto:</h2>
					</div>
					<!-- Show the "ultimos" products -->
					<h2 class="col-12">
						<form action="/producto/edit/:idProducto" method="post">
							<div>
								<input type="hidden" name="id" value="<%= usuario.id %>">
							</div>
							<div>
								<input id="imagen" type="file" name="fotoProducto" value="<%= productos.fotoProducto %>" placeholder="Imagen">
							</div>
							<br>
							<div>
								<input id="nombre" type="text" name="nombre" value="<%= productos.nombre %>" placeholder="Nombre del producto">
							</div>
							<br>
							<div>
								<input id="descripción" type="text" name="descripción" value="<%= productos.descripcion %>" placeholder="Descripción del producto">
							</div>
							<br>
							<div>
								<button type="submit">Actualizar</button>
							</div>
						</form>
					</h2>

					<!-- footer -->
					<%- include('./partials/footer') %>
					<!-- /footer -->
	</body>

</html>