<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>

	<body>
		<!-- Header -->
		<% if (locals.user != undefined) { %>
			<%- include('./partials/headerLogueado') %>
		 <% } else { %>
			<%- include('./partials/header') %>
		<% } %>
		<!-- /Header -->

			<!-- Novedades -->
			<div class="container products-wrapper">
				<div class="row">
					<div class="col-12">
						<h2 class="products-title">Editar mi perfil</h2>
					</div>
					<!-- Show the "ultimos" products -->
					<h2 class="col-12"> <i>
							<form action= "/users/update" method="post">
								<div>
									<input id="mail" type="email" name="mail" value="<%= perfil.mail %>" placeholder="mail">
									<% if (locals.errors && errors.mail) { %>
										<p class = “error” > <%= errors.mail.msg %> </p>
									<% } %>
									
								</div>
								<div>
									<input id="usuario" type="text" name="nombre" value="<%= perfil.nombre %>" placeholder="nombre">
									<% if (locals.errors && errors.nombre) { %>
										<p class = “error” > <%= errors.nombre.msg %> </p>
									<% } %>
									
								</div>
								<div>
									<input id="contra" type="password" name="contra" value="<%= perfil.contra %>" placeholder="password">
									<% if (locals.errors && errors.contra) { %>
										<p class = “error” > <%= errors.contra.msg %> </p>
									<% } %>
								</div>
								<div>
									<input id="fecha" type="date" name="fecha" value="<%= perfil.fecha %>"
										placeholder="fecha de nacimiento">
								</div>
								<div>
									<input id="dni" type="number" name="dni" value="<%= perfil.dni %>" placeholder="DNI">
								</div>
								<div>
									<input id="fotoPerfil" type="text" name="fotoPerfil" value="<%= perfil.fotoPerfil %>" placeholder="foto de perfil">
								</div>
								<div>
									<input type="hidden" name="id" value="<%= perfil.id %>">
								</div>
								<div>
									<button type="submit">Enviar</button>
								</div>
							</form>
					</h2>

					<!-- footer -->
					<%- include('./partials/footer') %>
					<!-- /footer -->
	</body>

</html>