<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>

	<body>
		<!-- Header -->
		<%- include('./partials/headerLogueado') %>
		<!-- /Header -->

			<!-- Datos del usuario -->
			<section class="info-usuario container products-wrapper">
				<div class="row">
					<div class="img-container offset-3 col-2">
						<img src="<%= usuario.fotoPerfil %>" alt="foto de perfil" class="foto-perfil">
					</div>

					<div class="data-container col-6">
						<div class="d-flex align-items-center ">
							<h2 class="main-title">
								<!-- <%= usuario.nombre %>  <--! //NOMBRE NO EXISTE EN LA TABLA DE USUARIOS -->
									<a href="/users/profile-edit">
										<i class="fas fa-cog"></i>
									</a>
							</h2>
							<a class="btn mt-3 ml-4" href="">SEGUIR</a>
						</div>
						<div>
							<ul class="">
								<%= usuario.mail %>
								<li>8 productos</li>
								<li>200 seguidores</li>
								<li>300 comentarios</li>
							</ul>
						</div>
						<ul>
							<li>
								<a href="/users/profile-edit"> Edita tu perfil <i class="fas fa-sign-in-alt"></i></a>
							</li>
						</ul>
					</div>
				</div>
			</section>
			<!-- /Datos del usuario -->

			<!-- Mis productos -->
			<div class="container products-wrapper">
				<div class="row">
					<div class="col-12">
						<h2 class="products-title">Mis productos</h2>
					</div>
					<!-- Show mis productos -->
					<% for( let i=0; i < 8 ; i++ ) { %>
						<div class="col-12 col-sm-6 col-lg-3">
							<section class="product-box">
								<a href="/product">
									<figure class="product-box_image">
										<img src="<%= productos[i].fotoProducto %>" alt="">
									</figure>
									<article class="product-box_data">
										<h2>
											<%= productos[i].nombre %>
										</h2>
										<p>
											<%= productos[i].descripcion%>
										</p>
										<p>
											<%= productos.comentarios%> 
										</p>
									</article>
								</a>
							</section>
						</div>
						<% } %>
				</div>
			</div>
			</div>
			<!-- /Mis productos -->


			<!-- footer -->
			<%- include('./partials/footer') %>
			<!-- /footer -->
	</body>

</html>