<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>

	<body>
		<!-- Header -->
		<%- include('./partials/header') %>
		<!-- /Header -->

			<!-- Novedades -->
			<div class="container products-wrapper">
				<div class="row">
					<div class="col-12">
						<h2 class="products-title">Resultados de búsqueda</h2>
					</div>
					<!-- Show the "ultimos" products -->
					<h2 class="col-12">
						 <% for(let i=0; i < listado.length; i++) { %> <!--//LISTADO.LENGHT NO ANDA -->
							<div class="col-12 col-sm-6 col-lg-3">
								<section class="product-box">
									<a href="/product">
										<figure class="product-box_image">
											<img src="<%= listado[i].fotoProducto %>">
										</figure>
										<article class="product-box_data">
											<h4>
												<%=listado[i].nombre %>
											</h4>
										</article>
									</a>
								</section>
							</div>

							<% } %>
					</h2>

					<!-- footer -->
					<%- include('./partials/footer') %>
					<!-- /footer -->
	</body>

</html>